<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Path-->
    <add key="pathInput" value="..\Input"/>
    <add key="pathOutput" value="..\Input"/>

    <!--Doc-->
    <add key="docInput" value="ShapeCoords.xml"/>

    <!--Prg-->
    <add key="prgWait" value="1"/>
  </appSettings>
</configuration>